@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --highlight-color: #353430;
    --decor-color: #353430;
    --hover-color: #35343040;

    --main-bg-color: #fff1f7;
    --main-bg-img: url("../images/cover-image-light.png");

    --rec-icon-visibility: hidden;
  }
}
/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --highlight-color: #353430;
  --decor-color: #353430;
  --hover-color: #35343040;

  --main-bg-color: #fff1f7;
  --main-bg-img: url("../images/cover-image-light.png");

  --rec-icon-visibility: hidden;
}
